* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    overflow-y:hidden;
    font-family: 'Open Sans', sans-serif;

}

.side-panel {
    position:fixed;
    color:white;
    height:100vh;
    width:400px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.marg-10 {
    margin:10px;
}

#normal-scroll {
    cursor: pointer;
    font-size: 14px;
    transition: 0.5s;

}

#normal-scroll.highlight {
    color:rgb(255, 45, 45);
    transition: 0.5s;
    font-size: 20px;


}

#normal-scroll:hover {
    text-decoration: underline;
}

#scroll-indicator {
    height:40px;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    opacity: 0;
    transition: 0.5s;
    user-select: none;

}

#scroll-indicator.show {
    opacity: 0.5;
    transition: 0.5s;
}

.container-knob {
    position: fixed;
    width: 400px;
    height: 400px;
    top: calc(50% - 200px);
    left: 0;
    transform-origin: center center;

}

.box {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 25%;
    top: 25%;
    transform-origin: center center;
    z-index: 1;
    border-radius: 50%;
}

.circle {
    background-color: rgb(0,0,0,0.2);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(70px);
    box-shadow:  inset 0 0 10px 5px rgb(223, 215, 212);
}


.dot {
    position: absolute;
    left: 0;
    right: 0;
    margin: 10% auto;
    height: 12%;
    width: 1.9%;
    border-radius: 25%;
    background: orange;
    box-shadow: 0 0 2px 0 orange;
}

.nav-label {
    font-size: 24px;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    position: absolute;
    color:white;
    cursor: pointer;
    font-family: 'Indie Flower', cursive;
}

.nav-label:hover, .links a:hover {
    text-decoration: underline;
    
}

#about-label {
    width:100%;
    margin: 0 auto;
    top:calc(100px - 1.5rem);
    text-align: center;
}

#skills-label {
    top: calc(200px - 1rem);
    text-align: center;
    left:calc(280px + 1.5rem);
}

#projects-label {
    width:100%;
    margin: 0 auto;
    top: calc(300px + 0rem);
    text-align: center;
}

#links-label {
    top: calc(200px - 2rem);
    text-align: center;
    right:calc(280px + 1.5rem);
}



#scroll-point {
    background-color: black;
    position: absolute;
    top:0;
    width:10;
}

.content {
    position: absolute;
    width:fit-content;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    right:0;
    background-color: rgb(109, 109, 109);
}

.content-block {
    /* box-sizing: content-box; */
    color:rgb(255, 255, 255);
    height:97vh;
    width:calc(100vw - 430px);
    margin:0 30px 3vh 0px;
    padding:40px;
    box-shadow: 0 8px 6px -6px black;
    background-color: rgb(27, 27, 27);


}

.title {
    font-size:64px;
    text-decoration:none;
    margin-left: 5%;
}

.sub-title {
    font-size:40px;
    margin-left: 5%;

}

.about {
    line-height:3rem;
    margin:auto auto;
    display:flex;
    flex-direction: column;
    text-align: left;
    max-width: 90%;
    height: 80%;
    color:rgba(216, 216, 216, 0.84);
    font-size: 26px;
    justify-content: center;
    align-items: left;
}

.section-title {
    color:white;
    font-size:30px;
    margin-top:20px;
}

/* projects */

.projects {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top:40px;
    height:70vh;
}

.project-swipe {
    position:relative;
    width:90%;
    max-width:1200px;

}

.project {
    box-shadow: rgba(0, 0, 0, 0.34) 5px 0px 5px, rgba(0, 0, 0, 0.34) -5px 0px 5px;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(53, 53, 53);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.project img {
    height: 1rem;
}

.project-header {
    align-items: center;
    color:white;
}

.project-header a {
    align-items: center;
    color:white;
}

.project-header img {
    margin: 0 10px;
}

.project-desc, .project-tech, .project-header {
    color:white;
    background-color: rgb(0,0,0,0.8);
    padding: 0 20px 10px 20px;
}

.project-title {
    font-size: 30px;
}

.project-tech {
    color:rgb(248, 73, 50);
    font-weight:1000;
}



.project.hidden {
    position:absolute;
    display:none;
}

.project.back-left {
    opacity:0.6;
    height: 70%;
    width: 70%;
    left:0;
    top:0;
    bottom:0;
    margin:auto;
    
}

.project.center {
    height: 80%;
    width: 80%;
    right:0;
    left:0;
    top:0;
    bottom:0;
    margin:auto;
    z-index: 1;
    transition: none;
}

.project.back-right {
    opacity:0.6;
    height: 70%;
    width:70%;
    right:0;
    top:0;
    bottom:0;
    margin:auto 0;
}

.projects button {
    border:none;
    width:40px;
    height:40px;
    margin: auto 4px;
    transition: 0.3s;
    border-radius: 50%;
    cursor: pointer;
}

.projects button:hover {
    background-color: rgb(212, 212, 212);
    transition: 0.3s;
}

.projects button:active {
    background-color: rgb(212, 212, 212);
    transition: 0s;
    box-shadow: inset 0 2px 5px 0px rgb(53, 53, 53);

}

#p-b-left {
    background-image: url('./lib/left.png');
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;

}

#p-b-right {
    background-image: url('./lib/right.png');
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}



#p1 {
    background-image: url('./lib/mikser.png');
}

#p2 {
    background-image: url('./lib/ninelocks.png');
}

#p3 {
    background-image: url('./lib/kerosene.png');
}

#p4 {
    background-image: url('./lib/tictactoe.png');
}

#p5 {
    background-image: url('./lib/kerosene.png');
}

/* skills */

.skills {
    min-height:90%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.skill {
    margin:10px;
    max-width: 200px;
    margin: 0 30px;
}

.skill p {
    text-align: center;
    font-size: 30px;
    word-break: break-word;
}

.skill img {

    height:180px;
}


/* Links and Contact */

.col {
    display: flex;
    flex-direction: column;
    height:100%;

}

.row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
    align-content:space-between ;
}


.links {
    margin:0 0;
    align-self: center;
    width:60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links > a {
    color:white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: center;
    font-size:40px;
    margin-left:25%; 
    align-items: center;
    
}

.links p {
    margin-left: 30px;
}



.links img {
    height:190px;
    transition:0.3s;
}


.links-contact {
    height:90%;
}

.contact {
    width:40%;
    padding: 0 6%;
}

.form-col {
    display:flex;  
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width:100%;
}



.form-control {
    box-sizing: border-box;
    min-width:100%;
    max-width:100%;
    padding:10px;
    margin: 10px 0;
    line-height: 1.5rem;
    
}

.submit {
    padding:10px;
    width:90px;
    margin-top:10px;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.button-holder{ 
    text-align: center; 
}

input::-webkit-input-placeholder {
    font-size: 18px;
    vertical-align: middle;
  }
  
  input::-moz-placeholder {
    font-size: 18px;
    vertical-align: middle;
  }
  
  input:-ms-input-placeholder {
    font-size: 18px;
    vertical-align: middle;
  }
  
  input::placeholder {
    font-size: 18px;
    vertical-align: middle;
  }

  textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    vertical-align: middle;
    min-height:400px;

  }